*.pyc
*.swp
*.sublime-project
cards.js
gameState.js
heuristics.js
grapher.js
testSimulation.js
.idea
node_modules
web/grapher.js
web/playWeb.js
web/multiLog.js
web/scoreTracker.js
web/strategies.js
web/libs/bootstrap
