.level0 {
  position: absolute;
  top: 45px;
}
.level1 {
  position: absolute;
  top: 70px;
}
.level1a {
  position: absolute;
  top: 77px;
}
.level2 {
  position: absolute;
  top: 105px;
}
.level3 {
  margin-top: 570px;
}
.error {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #990000;
  background-color: #fee;
  border: 1px solid #faa;
  padding: 2px;
}
.ace_editor {
  font-family: "Menlo", "Monaco", "Inconsolata", "Andale Mono", "Droid Sans Mono", monospace !important;
}
body {
  margin-left: 5%;
  margin-right: 5%;
}
#p1 h2 {
  position: absolute;
  top: 70px;
  left: 5%;
  color: #990000;
}
#p1 .selectLabel {
  position: absolute;
  top: 70px;
  right: 62%;
}
#p1 select {
  position: absolute;
  top: 70px;
  right: 52%;
}
#p1 .status {
  position: absolute;
  top: 77px;
  left: 15%;
}
#p2 h2 {
  position: absolute;
  top: 70px;
  left: 50%;
  color: #000099;
}
#p2 .selectLabel {
  position: absolute;
  top: 70px;
  right: 17%;
}
#p2 select {
  position: absolute;
  top: 70px;
  right: 7%;
}
#p2 .status {
  position: absolute;
  top: 77px;
  left: 60%;
}
#editor-left {
  top: 105px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 0;
  position: absolute;
  width: 45%;
  height: 450px;
  border: 1px solid #bbb;
  left: 5%;
}
#editor-right {
  top: 105px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 0;
  position: absolute;
  width: 45%;
  height: 450px;
  border: 1px solid #bbb;
  left: 50%;
}
.player1 {
  color: #990000;
  font-weight: bold;
}
.player2 {
  color: #000099;
  font-weight: bold;
}
#masthead {
  background: #555;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  font-size: 80%;
}
#masthead h1 {
  color: #fff4bb;
  display: inline;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  margin: 0;
}
#masthead h2.tagline {
  color: #fff;
  display: inline;
  font-weight: normal;
  font-size: 12pt;
  margin: 0;
}
#masthead a.about {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 13px;
  right: 15px;
}
#news {
  position: absolute;
  top: 45px;
}
#layoutSeparator {
  margin-top: 570px;
}
#gameControls input {
  margin-left: 1em;
}
#gameControls label {
  display: inline;
  margin-right: 1em;
}
select {
  color: #000;
}
.btn {
  margin-top: 2px;
}
.row {
  margin-bottom: 6px;
}
#playButton {
  width: 120px;
  text-align: center;
}
#graphs {
  clear: both;
  float: right;
  width: 400px;
  height: 520px;
  margin-left: 20px;
}
.flotgraph {
  width: 400px;
  height: 200px;
}
#logs {
  clear: left;
}
#gameLog {
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  font-family: sans-serif;
}
#gameOutput {
  font-size: 14pt;
  margin-left: 10px;
}
#win-o-meter {
  position: relative;
  background-color: #000;
  height: 20px;
  width: 940px;
}
#win-o-meter-back {
  position: absolute;
  right: 0;
  background-color: #333;
  width: 470px;
  height: 20px;
  z-index: 1;
}
#win-p1-certain {
  position: absolute;
  left: 0;
  width: 10px;
  height: 20px;
  background-color: #ee4444;
  z-index: 3;
}
#win-p2-certain {
  position: absolute;
  right: 0;
  width: 10px;
  height: 20px;
  background-color: #5555ff;
  z-index: 3;
}
#win-p1-uncertain {
  position: absolute;
  left: 0;
  width: 469px;
  height: 20px;
  background-color: rgba(238, 68, 68, 0.5);
  z-index: 2;
}
#win-p2-uncertain {
  position: absolute;
  right: 0;
  width: 469px;
  height: 20px;
  background-color: rgba(85, 85, 255, 0.5);
  z-index: 2;
}
.score {
  color: #fff;
  font-size: 15px;
  position: absolute;
  z-index: 4;
}
#score-p1 {
  color: #fff;
  font-size: 15px;
  position: absolute;
  z-index: 4;
  left: 5px;
}
#score-p2 {
  color: #fff;
  font-size: 15px;
  position: absolute;
  z-index: 4;
  right: 5px;
}
